html,
body {
    height: 100%;
    font-family: sans-serif;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    /*opacity: 0.7;*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.custom-caption{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
    color: #fff;
    font-family: 'Pacifico', sans-serif;
    font-size: 150%;
}
.xs .custom-caption,
.xxs .custom-caption{
    font-size: 100%;
}

.section{
    height: 100%;
    padding-top: 10%;
}
.xxs .section{
    padding-top: 20%;
}
.xs .section{
    padding-top: 10%;
}
.sm .section{
    padding-top: 8%;
}
.lg .section{
    padding-top: 6%;
}

.map{
    min-height: 250px;
    margin-top: 20px;
    height: 60vh;
}

.small-brand{
    font-size: 70%;
}

.custom-brand{
    font-family: 'Pacifico', 'sans-serif';
    font-size: 200%;
}

.parent-card{
    margin: 40px 0;
}
.xxs .parent-card{
    margin: 15px 0;
}
.xs .parent-card{
    margin: 15px 0;
}
img.parent-thumb{
    border-radius: 100%;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.3);
}
.xs img.parent-thumb{
    max-width: 80px;
}

.info-parent{
    margin-top: 20px;
}
.lg .info-parent{
    margin-top: 35px;
}
.sm .info-parent{
    margin-top: 6px;
}
.xs .info-parent{
    margin-top: 6px;
}
.xxs .info-parent{
    margin-top: 0px;
}